<h1><%= place.name %></h1>
<img src="<%= place.imageURL%>">
<p><%= place.description %></p>
<h1> THIS PLACE HAS <%= stars %>  STARS</h1>

</br>
<% comment.reverse().forEach((c)=>{ %>
    <p><%= c.comment %></p>
    <a>Rispondi</a>
<% })%>
<a href="/">GO HOME</a>