<div class="container">
    <div class="row">
        <div class="col s6">
            <h1>
                <%= place.name %>
            </h1>
            <img src="<%= place.imageURL%>" style="width:100%">
        </div>
        <div class="col s6">

            <h1> Place avarage:
                <%= stars %>
            </h1>
        </div>

    </div>
</div>


<div class="container">
    <div class="row" style="margin:50px">
        <% comment.reverse().forEach((c)=>{ %>
            <div class="col s6 card">
                <div>
                    <p>Comment:</p>
                    <p>
                        <%= c.comment %>
                    </p>
                    <br>
                    <a href="/profile?id=<%= c.owner %>">Raters Profile</a>
                </div>
                <div>
                    <label>Limpieza</label>
                    <p class="range-field">
                        <input type="range" id="poprieta" name="proprieta" min="0" max="5" value="<%=c.prop%>" />
                    </p>
                    <br>
                    <label>Olor</label>
                    <p class="range-field">
                        <input type="range" id="poprieta1" name="proprieta1" min="0" max="<%=c.prop1%>" />
                    </p>
                    <br>
                    <label>Ruido</label>
                    <p class="range-field">
                        <input type="range" id="poprieta2" name="proprieta2" min="0" max="<%=c.prop2%>" />
                    </p>
                    <label>Papel Igienico</label>
                    <p class="range-field">
                        <input type="range" id="poprieta3" name="proprieta3" min="0" max="<%=c.prop3%>" />
                    </p>
                    <br>
                    <label>Decoración</label>
                    <p class="range-field">
                        <input type="range" id="poprieta4" name="proprieta4" min="0" max="<%=c.prop4%>" />
                    </p>
                    <br>
                    <label>Disponibilidad</label>
                    <p class="range-field">
                        <input type="range" id="poprieta5" name="proprieta5" min="0" max="<%=c.prop5%>" />
                    </p>
                </div>
            </div>
            <% })%>
    </div>
</div>